.boton{
    --background: #5eff01;
    --background-hover: #9ce0be;
    --background-activated: #dee4ab;
    --background-focused: #4ade05;
  
    --color: rgb(0, 0, 0);
  
    --border-radius: 15px;
    --border-color: #000;
    --border-style: solid;
    --border-width: 1px;
}
#perUser{
    text-align: center;
    color: #00ffdd;
}
.menucolor{
    --color: #00ffff;
  }
  .titulo {
    
    font-family: 'titulo', sans-serif;
    --color: #00ffea;
  }


  .texto {
    font-family: 'texto', serif;
    color: #00ff40;
  }
  .centrarfoto{
    text-align: center;
  }